:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h3 {
  margin-left: 0.2em;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
}

/* (350+25)*4=1500 */
@media (min-width: 1700px) {
  #app {
    max-width: 1700px;
  }
}

#tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  gap: 1em;
  margin: 0 auto;
}

#tiles > div {
  flex: 1;
  width: 350px;
  min-width: 350px;
  max-width: 350px;
}

#footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 2em;
  margin: 3em auto 80vh;
  font-size: 80%;
  color: #ccc;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type='number'] {
  text-align: right;
}

form.home-usage > label {
  display: list-item;
  list-style: none;
  margin: 0.2em 0;
  border: 1px solid #343444;
  background: #242444;
  border-radius: 8px;
  padding: 0.3em 1em;
  cursor: pointer;
}
form.home-usage > label:hover {
  background: #1a1a1a;
}
form.home-usage > label:has(input:checked) {
  background: #3434a4;
}
form.home-usage > label > input:first-child {
  display: none;
}

form.home-usage svg {
  margin: 0 0.2em;
}

form.heating-usage {
  display: flex;
  width: 100%;
}

form.heating-usage > label {
  display: list-item;
  border: 1px solid #343444;
  background: #242444;
  border-radius: 8px;
  padding: 0.5em 1em;
  cursor: pointer;
}
form.heating-usage > label:hover {
  background: #1a1a1a;
}
form.heating-usage > label:has(input:checked) {
  background: #3434a4;
}
form.heating-usage > label > input:first-child {
  display: none;
}

form.heating-usage > label {
  display: block;
  border: 1px solid #343444;
  background: #242444;
  border-radius: 8px;
  padding: 0.4em 0.4em;
  cursor: pointer;
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
  font-style: italic;
}

.strike > span:before,
.strike > span:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #ddd;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
  filter: grayscale();
}

.load-profile-table {
  width: 100%;
}
.load-profile-table td {
  padding: 0.2em;
}

.load-profile-table input:first-child {
  display: none;
}

.load-profile-table tr.selected {
  background: #3434a4;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.miniflex {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
