:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

#app > div {
  flex: 1;
  width: 350px;
  min-width: 350px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type='number'] {
  text-align: right;
}

form.home-usage > label {
  display: list-item;
  margin: 0.5em;
  border: 1px solid #343444;
  background: #242444;
  border-radius: 8px;
  padding: 0.5em 1em;
  cursor: pointer;
}
form.home-usage > label:hover {
  background: #1a1a1a;
}
form.home-usage > label:has(input:checked) {
  background: #3434a4;
}
form.home-usage > label > input:first-child {
  display: none;
}

form.home-usage svg {
  margin: 0 0.2em;
}

form.heating-usage {
  display: flex;
}

form.heating-usage > label {
  display: block;
  border: 1px solid #343444;
  background: #242444;
  border-radius: 8px;
  padding: 0.4em 0.4em;
  cursor: pointer;
}
